# PhotoVault - Professional Photo Management Platform
# Copyright (c) 2025 Calmic Sdn Bhd. All rights reserved.
#
# This software is proprietary and confidential. Unauthorized copying, distribution,
# modification, or use of this software is strictly prohibited.
#
# Website: https://www.calmic.com.my
# Email: support@calmic.com.my
#
# CALMIC SDN BHD - "Committed to Excellence"

# PhotoVault Requirements
# Professional Photo Management Platform by Calmic Sdn Bhd

Flask==3.0.3
Werkzeug==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
click==8.1.7
blinker==1.7.0
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
Pillow>=11.0.0
python-dotenv
psycopg2-binary
gunicorn